* {
    margin: 0 auto;
    padding: 0;
    text-align: justify;
    max-width: 980px;
    font-family: sans-serif;
}
header {
    background-color: #54274b;
    padding: 40px;
    color: #EAEAF2;
    background-image: url("https://cdn.mos.cms.futurecdn.net/voLXVyuproAcEcCvrNnFQF-1200-80.jpg.webp");
    height: 70px;

    
}

nav {
    background-color: #baafbc;
    margin: 10px;
    text-align: center;

}

main{
    display: block;
    height: 30px;
}

body {
    height: 100px;
    background-color: #F7F7F7;
    color: #191970;

}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #eaeeee;
}
 h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #eaeeee;
}

h2 {
    text-align: center;
    color: rgb(69, 28, 67);
}

dl {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;

}

p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;

}

ul {
    width: 0 auto;
    margin: 0 auto;
    line-height: 20px;
}

a {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #54274b;
}

/*img {
    float: center;
}*/

footer {
    color: #666666;
    margin: 10px;
}


/* Id starts with " # " */
#Contact {
    padding: 10px;
    text-align: center;
}

/*Class stars with "."*/

.Sub{
    color: rgb(168, 33, 123);
    font-weight: 500px;
    font-style: italic;
}


hr {
    border-width: 3px;
    margin: 1px;
    border-color: #54274b;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-style: italic;
      }

  tr:nth-child(even) {
    background-color: #dddddd;
  }